//-----------------GOOGLE FONT-----------------//
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
//----------------VARIABLES-----------------//
:root{
    --header-height: 80px;
    --container-max-width: 1400px;

    //------------ Colors -----------//
    --first-color: #2874F0;
    --title-color: rgb(253, 253, 253);
    --text-color: #a8a8a8;
    --white: rgb(253, 253, 253);
    --background-text-color: #222222;
    --section-background-color: rgba(31, 31, 31, 1);

    /********** Typography **********/
    --Poppins: 'Poppins', sans-serif;
    --Ubuntu: 'Ubuntu', sans-serif;
    --biggest-font-size: 3.5rem;
    --big-font-size: 2.5rem;
    --normal-to-big-font-size:2rem;
    --normal-font-size: 1.6rem;
    --smaller-font-size: 1.4rem;
    --small-font-size: .75rem;

    --logo-font-size: 4.5rem;

    /*********** Font weight ***********/
    --font-extra-light:300;
    --font-light:400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*********** Margenes & Paddings ***********/
    --length-1: 1.0rem;//
    --length-2: 1rem;
    --length-3: 1.5rem;
    --length-4: 2rem;
    --length-5: 2.5rem;
    --length-6: 3rem;
    --length-7: 3.5rem;
    --length-8: 4rem;
    --length-9: 4.5rem;
    --length-10: 5rem;
}

// -----------Base-----------//
*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // cursor: none;
}

.cursor {
  top: -10px;
  left: -10px;
  position: fixed;
  width: 10px;
  height: 10px;
  z-index: 1001;
  border-radius: 50%;
  background: #fff;
  transition: transform .2s ease;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.follower {
  top: -40px;
  left: -40px;
  position: fixed;
  width: 40px;
  height: 40px;
  z-index: 1001;
  border-radius: 50%;
  // background: #FF5858;
  border: #FF5858 solid 2px;
  transition: transform .2s ease-in-out;
  transform: translate(-50%, -50%);
  pointer-events: none;
  // mix-blend-mode: difference;
}

.follower_enter {
  transform: translate(-50%, -50%) scale(2);
  border: #FF5858 solid 1px;

}

/* SCROLLBAR WIDTH */
::-webkit-scrollbar {
  width: 0;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    
}


body{
    height: 100vh;
    font-family: var(--Poppins);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    line-height: 1.6;
    background-color: var(--section-background-color);
}

h1,h2,h3,ul,p{
    margin: 0;  
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);

}

img{
    max-width: 100%;
    height: auto;
}

// --------Header---------//
header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: var(--header-height);
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(20px);

    .nav {
        max-width: var(--container-max-width);
        width: 100%;
        // position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_logo {
            a {
                font-size: 3.0rem;
                color: #585858;
                font-weight: 800;
                letter-spacing: 1px;
                span {
                    -webkit-text-stroke: 1px var(--white);
                    -webkit-text-fill-color: none;
                    color: var(--section-background-color);
                    letter-spacing: 3px;
                    font-size: 2.8rem;
                    margin-left: 2px;
                    text-shadow: 0px 0px 5px rgba(68, 78, 89, 0.7);
                }
            }
        }

        &_list {
            display: flex;
            .item {
                margin: 0px var(--length-1);
                border: 0.2rem solid transparent;
                border-radius: 2rem;
                padding: 0px var(--length-1);
                font-size: 1.6rem;
            }
            .active-item{
                border: 0.2rem solid var(--first-color);
                border-radius: 2rem;
            }
        }

        &_massage {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--first-color);
            color: var(--white);
            border-radius: 50%;
            height: 63px;
            width: 63px;
            
            img {
              // height: 25px;
              // width: 25px;
            }
        }
    }
}

// --------MAIN---------//
.main_container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
// --------COMMON SECTION & CONTAINER---------//
    .section {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        scroll-snap-align: start;
    }
    .container {
        max-width: var(--container-max-width);
        width: 100%;
        height: calc(100vh - var(--header-height));
        margin-top: var(--header-height);
    }
// --------HOME SECTION---------//
    .home_section {
        background-color: var(--section-background-color);
        border-bottom: 5px solid var(--first-color);

        .home_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // height: calc(100vh - var(--header-height));
            // margin-top: var(--header-height);
            position: relative;
            .main_img {
              img {
                width: 100%;
                height: 100%;
              }
              // width: 100%;
            }
            // --------SOCIAL ICONS---------//
            .social_icons {
                // background-color: #cacaca;
                position: absolute;
                bottom:50px;
                left: 20px;
                display: flex;
                flex-direction: column;
                .icon {
                margin: 15px;
                }
            }
            // --------HI BOX---------//
            .hi_box {
                position: absolute;
                display: flex;
                width: fit-content;
                z-index: 10;
                background: linear-gradient(158deg, #191919, #212121);
                box-shadow:  20px 20px 60px rgb(0, 0, 0), -20px -20px 60px #2c2c2c;
                height: fit-content;
                border-radius: 15px;
                align-items: center;
                top: 0;
                left: 0;
                transform: translate(20%,70%);
                padding: 1rem 2rem;
                border-right: #181818 3px solid;
                border-bottom: solid 3px #181818;
    
                .hi_img {
                    height: 6rem;
                    transform: rotate(-27deg);
                }
                .content {
                    color: rgb(133, 133, 133);
                    font-family: var(--Ubuntu);
                    text-align: left;
                    font-size: 1.9rem;
                    margin-left: 1.5rem;
                    line-height: 3.5rem;
                    span {
                        color: var(--white);
                        font-size: 3.6rem;
                    }
                }
            }
            // --------QUOTE---------//
            .quote {
                position: absolute;
                font-size: 4.8rem;
                font-weight: var(--font-bold);
                font-family: var(--Ubuntu);
                line-height: 6.5rem;
                color: #414141;
                right: 0;
                transform: translateY(80%) translateX(-20%);
                .first_part {
                    font-size: 10rem;
                    color: var(--white);
                    text-shadow: 3px 8px 16px rgb(0, 0, 0)
                }
                .second_part {
                    font-size: 7.0rem;
                    text-shadow: 0px 0px 0px 25px rgba(0, 0, 0, 0.25);
                }
            }
            // --------SCROLL DOWN ANIMATION---------//
            .scroll-down{
                width: 100%;
                position: absolute;
                bottom: 0;
                .scroll-container{
                  width: 30px;
                  height: 60px;
                  border: 3px solid rgb(82, 82, 82);
                  border-radius: 15px;
                  position: relative;
                  margin-left: auto;
                  margin-right: auto;
                  transform: translateY(-100%) scale(-70%) rotate(180deg);
              
                  .scroller{
                    width: 16px;
                    border-radius: 8px;
                    background-color: #3281ff;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    bottom: 34px;
                    animation: scroller 1500ms ease-out infinite;
                  }
                }
            }
            @keyframes scroller{
                0%{
                bottom: 34px;
                }
                5%{
                top: 4px;
                }
                32%{    
                bottom: 4px;
                }
                66%{
                top: 34px;
                bottom: 4px;
                }
                100%{
                top: 4px;
                bottom: 34px;
                }
            }
        }
    }
// --------ABOUT SECTION---------//
    .about_section {
        // background-color: white;
        .about_container {
            position: relative;
            display: flex;
            .title_container {
                position: absolute;
                left: 50%;
                top: 3rem;
                transform: translateX(-50%);
                text-align: center;
                .title {
                    font-family: var(--Ubuntu);
                    color: #ffffff;
                    font-size: var(--big-font-size);
                    font-weight: var(--font-light);

                }
                .subtitle {
                  width: 50ch;
                }
                .separator {
                  height: 2px;
                  width: 100px;
                  margin-left: auto;
                  margin-right: auto;
                  margin-top: 0.6rem;
                  margin-bottom: 1rem;
                  display: flex;
                  justify-content: space-between;
                  .first_part {
                    width: 60%;
                    height: 100%;
                    background-color: rgb(0, 238, 255);
                  }
                  .second_part {
                    width: 20%;
                    height: 100%;
                    background-color: rgb(0, 238, 255);
                  }
                  .third_part {
                    width: 10%;
                    height: 100%;
                    background-color: rgb(0, 238, 255);
                  }
                }
                
            }
            .background_text {
                position: absolute;
                font-family: var(--Ubuntu);
                font-size: 35rem;
                top: 50%;
                left: 50%;
                font-weight: var(--font-medium);
                transform: translate(-50%, -50%);
                color: var(--background-text-color);
                text-shadow: 0 0 29px rgba(0, 0, 0, 0.25);
            }
            .main_content {
                z-index: 10;
                align-self: center;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                max-width: 60ch;
                font-weight: var(--font-light);
                color: #FFFFFF;
                .profile_img {
                    height: 200px;
                    width: 200px;
                    border: 5px var(--first-color) solid;
                    border-radius: 50%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 10%;
                    background-image: url(/assets/img/aboutpage/about_img.jpg);
                    background-position: center;
                    background-size: cover;
                    box-shadow: 0px 0px 15px var(--first-color);
                    // transform: translateY(-50%);
                }
                .content {
                    .start_content {
                        display: flex;
                        .start_text {
                            font-size: var(--biggest-font-size);
                            color: var(--title-color);
                            font-family: var(--Ubuntu);
                        }
                        .name_changing_ani {
                            .wrapper {
                                height: 40px;
                                width: 200px;
                                background-color: rgba(255, 255, 255, 0);
                                position: relative;
                                overflow: hidden;
                                animation-name: swapAni;
                                animation-timing-function: ease-in-out;
                                animation-iteration-count: infinite;
                                animation-duration: 5s;
                                display: flex;
                                align-items: center;
                                transform: translateX(-5%);
                                transform: translate(-5px, 25%);
                                margin-left: 15px;
                                background-color: var(--first-color);
                              }
                              @keyframes swapAni {
                                0% {
                                  width: 3px;
                                }
                                50% {
                                  width: 200px;
                                }
                                100% {
                                  width: 3px;
                                }
                              }
                              .wrapper::after {
                                content: "";
                                background-color: rgb(255, 255, 255);
                                height: 40px;
                                width: 4px;
                                position: absolute;
                                right: 0;
                                animation: colorChange 10s ease-in-out 0s infinite;
                              }
                              @keyframes colorChange {
                                0% {
                                  background-color: violet;
                                }
                                25% {
                                  background-color: rgb(194, 22, 22);
                                }
                                50% {
                                  background-color: rgb(230, 123, 36);
                                }
                                75% {
                                  background-color: rgb(51, 218, 240);
                                }
                                100% {
                                  background-color: violet;
                                }
                              }
                              .wrapper .text1,
                              .text2 {
                                font-size: var(--big-font-size);
                                font-family: var(--Ubuntu);
                                font-weight: var(--font-light);
                                color: rgb(255, 255, 255);
                                white-space: nowrap;
                                position: absolute;
                              }
                              .wrapper .text1 {
                                left: 10px;
                                animation: text1show 10s linear 0s infinite;
                              }
                              @keyframes text1show {
                                0% {
                                  visibility: visible;
                                }
                                50% {
                                  visibility: hidden;
                                }
                                100% {
                                  visibility: hidden;
                                }
                              }
                              .wrapper .text2 {
                                left: 10px;
                                animation: text2show 10s linear 0s infinite;
                              }
                              @keyframes text2show {
                                0% {
                                  visibility: hidden;
                                }
                                50% {
                                  visibility: hidden;
                                }
                                100% {
                                  visibility: visible;
                                }
                              }
                        }
                    }
                    .text_content {
                        margin-bottom: 2rem;
                        margin-top: 1rem;
                        // text-shadow: 0px 0px 0px #808080;
                    }
                    .aboutpage_button {
                        display: flex;
                        width: fit-content;
                        background-color: var(--first-color);
                        color: white;
                        border: 0.2rem solid var(--first-color);
                        border-radius: 2rem;
                        padding: 0 var(--length-1);

                        img {
                            height: 20px;
                            align-self: center;
                            margin-left:calc(var(--length-1)/2);
                        }
                    }
                }
            }
        }
    }
// --------SERVICE SECTION---------//
    .service_section {
      background-color: #1F1F1F;
      .service_container {
          // position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          // justify-content: center;
          .title_container {
            position: relative;
            left: 50%;
            top: 3rem;
            transform: translateX(-50%);
            text-align: center;
            width: 100%;
            margin-bottom: 3rem;
            .title {
                font-family: var(--Ubuntu);
                color: #ffffff;
                // font-size: var(--biggest-font-size);
                font-size: 4rem;
                font-weight: var(--font-medium);
            }
            .background_title {
              position: absolute;
              left: 50%;
              top: -6rem;
              z-index: -1;
              transform: translateX(-50%);
              text-align: center;
              font-size: 10rem;
              font-family: var(--Ubuntu);
              color: #2D2D2D;
              font-weight: var(--font-medium);
            }
          }
          .grid_container {
            display: grid;
            width: 800px;
            height: 800px;
            grid-gap: 30px;
            grid-template-areas: 'first second'
                                  'first third';
            .first_container, .second_container, .third_container {
              .item {
                background-color: rgba(45, 45, 45, 0.5);
                border-radius: 10px;
                padding: 3rem 4rem;
                display: grid;
                grid-row-gap: 2rem;
                grid-column-gap: 0.5rem;
                grid-template-areas: 'title title'
                                      'terminal_img text_content'
                                      'hire_button hire_button';
                                      .title {
                                        grid-area: title;
                                        font-size: var(--big-font-size);
                                        font-family: var(--Ubuntu);
                                      }
                                      .terminal_img {
                                        grid-area: terminal_img;
                                        transform: translateY(-20%);
                                      }
                                      .content {
                                        grid-area: text_content;
                                      }
                                      .hire_button {
                                        display: flex;
                                        align-items: center;
                                        grid-area: hire_button;
                                        color: var(--white);
                                        cursor: pointer;
                                        width: fit-content;
                                        .content {
                                          transform: translateX(-20%);
                                        }
                                        .arrow_img {
                                          transform: translateX(-50%);
                                          transition: 300ms;
                                          
                                        }
                                        &:hover > .arrow_img {
                                          transform: translateX(-20%);
                                        }
                                      }
              }
            }
            .first_container {
              grid-area: first;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              .first_item {
                width: 332px;
                .title {
                  color: #FF9B9B;
                }
              }
            }
            .second_container {
              grid-area: second;
              display: flex;
              align-items: flex-end;
              .second_item {
                // height: 320px;
                width: 415px;
                .title {
                  color: #BEA6FF;
                }
              }
            }
            .third_container {
              grid-area: third;
              .third_item {
                // height: 295px;
                width: 370px;

                .title {
                  color: #B1CFFF;
                }
              }
            }
          }
      }
    }
// --------PROCESS SECTION---------//
    .process_section {
      background-color: #1F1F1F;
      .process_container {
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .title_container {
            position: absolute;
            left: 50%;
            top: 3rem;
            transform: translateX(-50%);
            text-align: center;
            width: 100%;
            margin-bottom: 3rem;
            .title {
                font-family: var(--Ubuntu);
                color: #ffffff;
                font-size: 4rem;
                font-weight: var(--font-medium);
            }
            .background_title {
              position: absolute;
              left: 50%;
              top: -6rem;
              z-index: -1;
              transform: translateX(-50%);
              text-align: center;
              font-size: 10rem;
              font-family: var(--Ubuntu);
              color: #2D2D2D;
              font-weight: var(--font-medium);
            }
          }
          .middle_line {
            width: 1100px;
            height: 7px;
            background-color: #2874F0;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transform: translateX(-160px);
            .card_circle {
              width: 11px;
              height: 11px;
              border-radius: 50%;
              background-color: var(--white);
              position: relative;
              &:nth-child(odd) {
                .card_container {
                  height: 275px;
                  transform: translate(4px, -102%);
                  border-left: #585858 solid 3px;
                }
              }
              &:nth-child(even) {
                .card_container {
                  height: 275px;
                border-left: #585858 solid 3px;
                transform: translate(4px, 17px);
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                }
              }
              .outer_circle {
                height: 25px;
                width: 25px;
                position: absolute;
                transform: translate(-28%, -28%);
                border-radius: 50%;
                border: white 2px solid;
                z-index: 100;
              }
              .card_container {
                .card {
                  
                  width: 320px;
                  height: 210px;
                  background-color: rgba(45, 45, 45, 0.5);
                  backdrop-filter: blur(10px);
                  border-radius: 0px 10px 10px 0px;
                  padding: 30px 20px;
                  position: relative;
                  .title {
                    color: var(--white);
                    font-size: var(--big-font-size);
                    font-family: var(--Ubuntu);
                    margin-bottom: 1rem;
                  }
                  .background_number {
                    font-size: 14rem;
                    font-family: var(--Poppins);
                    font-weight: var(--font-semi-bold);
                    position: absolute;
                    top: -10%;
                    right: 5%;
                    color: #303030;
                    z-index: -1;
                  }
                  .discription {
                    width: 85%;
                  }
                }
              }
            }
          }
      }
    }

// --------SKILL SECTION---------//
    .skill_section {
      .skill_container {
        position: relative;
        display: flex;
        justify-content: center;
        .title_container {
          position: absolute;
          left: 50%;
          top: 3rem;
          transform: translateX(-50%);
          text-align: center;
          .title {
              font-family: var(--Ubuntu);
              color: #ffffff;
              font-size: var(--big-font-size);
              font-weight: var(--font-light);
          }
          .subtitle {
            width: 50ch;
          }
          .separator {
            height: 2px;
            width: 100px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0.6rem;
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            .first_part {
              width: 60%;
              height: 100%;
              background-color: rgb(0, 238, 255);
            }
            .second_part {
              width: 20%;
              height: 100%;
              background-color: rgb(0, 238, 255);
            }
            .third_part {
              width: 10%;
              height: 100%;
              background-color: rgb(0, 238, 255);
            }
          }
      }
        .background_text {
          position: absolute;
          font-family: var(--Ubuntu);
          font-size: 35rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: var(--background-text-color);
          text-shadow: 0 0 29px rgba(0, 0, 0, 0.25);
          font-weight: var(--font-medium);

      }
        .main_context {
          z-index: 10;
          display: flex;
          align-self: center;
          align-items: center;
          .main_img {
            max-width: 350px;
            position: relative;
            .background {
              position: absolute;
              width: 657px;
              height: 657px;
              top: 50%;
              left: 50%;
              z-index: -1;
              transform: translate(-50%, -50%);
              background: radial-gradient(50% 50% at 50% 50%, rgb(38 47 65 / 50%) 0%, rgba(31, 31, 31, 0.5) 100%);
            }
          }
          .skill_img_container {
            display: flex;
            height: fit-content;
            // flex-wrap: wrap;
            column-gap: 74px;
            .column {
              img {
                transform: rotate(-45deg);
                width: 60%;
              }
              transform: rotate(45deg);
              display: flex;
              flex-direction: column;
              row-gap: 25px;
              .upper_part, .lower_part {
                height: 90px;
                width: 90px;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;

              }
              .sass {
                background-color: rgba(255, 169, 169, 0.5);
              }
              .javascript {
                background-color: rgba(255, 232, 112, 0.5);
              }
              .wordpress {
                background-color: rgba(131, 200, 255, 0.5);
              }
              .html5 {
                background-color: rgba(255, 176, 117, 0.5);
              }
              .figma {
                background-color: rgba(255, 169, 169, 0.5);
              }
              .xd {
                background-color: rgba(255, 190, 247, 0.5);
              }
              .css3 {
                background-color: rgba(116, 210, 255, 0.5);
              }
            }
          }
        }
        
      }
    }


    // --------PORTFOLIO SECTION---------//
    .portfolio_section {
      background-color: #1F1F1F;
      .portfolio_container {
          display: flex;
          position: relative;
          // flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          .title_container {
            position: absolute;
            left: 50%;
            top: 3rem;
            transform: translateX(-50%);
            text-align: center;
            width: 100%;
            margin-bottom: 3rem;
            .title {
                font-family: var(--Ubuntu);
                color: #ffffff;
                font-size: 4rem;
                font-weight: var(--font-medium);
            }
            .background_title {
              position: absolute;
              left: 50%;
              top: -6rem;
              z-index: -1;
              transform: translateX(-50%);
              text-align: center;
              font-size: 10rem;
              font-family: var(--Ubuntu);
              color: #2D2D2D;
              font-weight: var(--font-medium);
            }
          }
          .text_container {
            max-width: 460px;
            // height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .folder_img {
              width: 135px;
            }
            .title {
              font-size: var(--biggest-font-size);
              // font-size: 4rem;
              color: var(--white);
              font-family: var(--Ubuntu);
              line-height: 4.5rem;
              span {
                color: var(--first-color);
              }
            }
            .separator {
              height: 3px;
              width: 150px;
              background-color: var(--first-color);
              margin: 2rem 0;
            }
            .button {
              display: flex;
              border: var(--first-color) solid 2px;
              width: fit-content;
              border-radius: 50px;
              padding: 4px 8px;
              margin-top: 2rem;
              color: var(--white);
              gap: 0.7rem;
            }
          }

          .swiper_container{
            width: 600px;
            .swiper {
              width: 300px;
              height: 450px;
            }
  
            .swiper-slide {
              display: flex;
              flex-direction: column;
            }
            .card {
              width: 300px;
              height: 450px;
              // height: fit-content;
              border-radius: 10px;
              padding: 10px;
              background-color: #323232;
              box-shadow: 0px 0px 20px 0px rgb(17, 17, 17);
              .thumbnail {
                border-radius: 10px;
                width: 100%;
              }
              .main_content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 5px;
                height: 100%;
                font-weight: var(--font-light);
                .title{
                  font-size: var(--normal-font-size);
                  font-family: var(--Ubuntu);
                  color: var(--white);
                }
                .button {
                  display: flex;
                  color: var(--white);
                  gap: 0.3rem;
                  border: var(--first-color) solid 2px;
                  width: fit-content;
                  padding: 2px 5px 2px 10px;
                  margin-top: 8px;
                  border-radius: 20px;
                  font-size: var(--smaller-font-size);
                  font-weight: var(--font-extra-light);

                }
                .description {
                  font-size: var(--smaller-font-size);
                }
              }
            }
          }
    
          



      }

    }

    // --------CONTACTS SECTION---------//
    .contacts_section {
      background-color: #1F1F1F;
      .contacts_container {
          // display: flex;
          position: relative;
          // // flex-direction: column;
          // align-items: center;
          
          display: flex;
          justify-content: center;
          // flex-direction: column;
          align-items: center;
          .title_container {
            position: absolute;
            left: 50%;
            top: 3rem;
            transform: translateX(-50%);
            text-align: center;
            width: 100%;
            margin-bottom: 3rem;
            .title {
                font-family: var(--Ubuntu);
                color: #ffffff;
                font-size: 4rem;
                font-weight: var(--font-medium);
            }
            .background_title {
              position: absolute;
              left: 50%;
              top: -6rem;
              z-index: -1;
              transform: translateX(-50%);
              text-align: center;
              font-size: 10rem;
              font-family: var(--Ubuntu);
              color: #2D2D2D;
              font-weight: var(--font-medium);
            }

          }
          .grid_container {
            display: grid;
            max-width: var(--container-max-width);
            width: 100%;
            height: 600px;
            grid-row-gap: 8rem;
            grid-template-areas: 'main_content rightside_content'
                                  'sub_content rightside_content';
            .main_content {
              max-width: 600px;
              grid-area: main_content;
              border-left: var(--first-color) solid 3px;
              display: flex;
              width: fit-content;
              flex-direction: column;
              justify-content: center;
              padding: 5rem 0 5rem 2rem;
              .main_text {
                font-size: var(--biggest-font-size);
                color: var(--white);
                font-family: var(--Ubuntu);
              }

            }
            .sub_content {
              max-width: 600px;
              grid-area: sub_content;
              display: flex;
              justify-content: space-between;
              .element {
                .title {
                  margin-bottom: 2rem;
                  font-size: var(--normal-font-size);
                  color: white;
                }
                .list_container {
                  display: flex;
                  margin-bottom: 2rem;
                  gap: 1rem;
                  img {
                    height: 2.4rem;
                  }
                }
              }
            }
            
            .rightside_content {
              width: 600px;
              grid-area: rightside_content;
              align-self: center;
              justify-self: end;
              .buttons_container {
                display: flex;
                margin-top: 5rem;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .button{
                  display: flex;
                  align-items: center;
                  gap: 1rem;
                  height: fit-content;
                  color: var(--white);
                  border-radius: 40px;
                  font-size: var(--normal-to-big-font-size);
                  font-family: var(--Ubuntu);
                  font-weight: 300;
                  text-shadow: 0px 0px 10px var(--background-text-color);
                  // transform: scale(0.9);
                }
                .gmail {
                  padding: 16px 20px;
                  background-color: #674B4B;
                  border: 4px solid #F0B2B2;
                }
                .whatsapp {
                  padding: 10px 20px ;
                  background-color: #485F4E;
                  border: 4px solid #9FDAAF;
                }
                .divider {
                  font-size: 10rem;
                  font-family: var(--Ubuntu);
                -webkit-text-stroke: 2px #2D2D2D;
                color: transparent;
                  line-height: 100%;
                  font-weight: var(--font-medium);
                  transform: translateY(-10px);

                }

              }
              .title {
                text-align: right;
                color: var(--white);
                font-size: var(--biggest-font-size);
                font-family: var(--Ubuntu);
                margin-bottom: 8rem;
              }
            }

          }

        }

      }
}

